# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Post

on:
  workflow_dispatch:
  schedule:
  - cron: '0 1 * * *'

jobs:
  post:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
      with:
        ref: data
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        # cache: 'yarn'

    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ./action/node_modules
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: ${{ runner.os }}-yarn-

    - name: Install
      run: yarn
      working-directory: ./action

    # FIXME: 마지막 sha 기준으로 빌드 확인하도록 변경하기
    # - name: Cache build file
    #   uses: actions/cache@v2
    #   id: cache_dist
    #   with:
    #     path: dist
    #     key: ${{ runner.os }}-dist-${{ hashFiles('**/index.js') }}
    #     restore-keys: ${{ runner.os }}-dist-

    - name: Build
      if: steps.cache_dist.outputs.cache-hit != 'true'
      run: yarn build
      working-directory: ./action

    - name: Execute
      run: yarn start
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      working-directory: ./action